<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main" class="ms-Fabric">
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
    <du-label><span>I'm a Label with </span><span>inner content</span></du-label>
    <du-label id="l1" html-for="anInput">A Label for An Input</du-label>
    <du-text-field id="anInput"></du-text-field>
    <du-default-button id="b1" text="Default Button"></du-default-button>
    <du-color-picker  ></du-color-picker>
    <du-choice-group id="cg" defaultSelectedKey="B"  label="Pick one"></du-choice-group> 
    <script>
      let opt = [
      {
        key: 'A',
        text: 'Option A',
        'data-automation-id': 'auto1'
      },
      {
        key: 'B',
        text: 'Option B'
      },
      {
        key: 'C',
        text: 'Option C',
        disabled: true
      },
      {
        key: 'D',
        text: 'Option D',
        disabled: true
      }
    ];
      document.getElementById("l1").setAttribute("disabled", true);

      //document.getElementById("cg").setAttribute("options", opt  );

      document.getElementById("b1").setAttribute("onClick", ()=>
      {
        console.log("hej");
      }  );
      
    </script>
  </body>
</html>
